body {
  background-color: rgb(53, 53, 53);
  color: #e6af2e;
  font-family: "Cairo", sans-serif;
}
a {
  color: #e8f1f2;
}
a:hover {
  color: #4cb944;
}
.card-apresentacao {
    width: 50%;
    height: 30%;
    float: left;
    margin: 0% 5%;
    padding: 0% 2%;
}
.card-apresentacao img{
    width: 20%;
    float: left;
    padding: 10px;
    border-radius: 50%;
    margin-top: 5%;
}
.destaque-apresentacao{
    font-size: 1.5em;
    font-weight: 700;
}
.card-apresentacao p{
    margin: center;
    text-align: justify;
    margin-left: 22%;
}
.card-apresentacao h1{
    position: relative;
    margin-left: 30%;
}
.habilidades{
    float: left;
    width: 50%;
    height: 30%;
    margin-left: 16%;
    margin-top: 5%;
}