body {
  background-color: rgb(53, 53, 53);
  color: #e6af2e;
  font-family: "Cairo", sans-serif;
}

.destaque-apresentacao {
  font-size: 1.5em;
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.about {
  display: flex;
}

.skills {
	display: flex;
}

@media screen and (max-width: 414px) and (orientation: portrait){
  .about img {
	width: 100%;
	padding: 20px 0px;
  }

  .about {
    align-items: center;
    flex-direction: column;
	justify-items: flex-start;
	font-size: 16px;
	text-indent: 15px;
	margin: 10px 10px;
	text-align: justify;
  }

  .destaque-apresentacao {
	  font-size: 1.2em;
  }

  .skills {
	  display: none;
  }
}
