/* inicio do bloco do indice */
/* The side navigation menu */
.indice {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.indice a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.indice a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
.indice a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.conteudo {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .indice {
    width: 100%;
    height: auto;
    position: relative;
  }
  .indice a {
    float: left;
  }
  div.conteudo {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .indice a {
    text-align: center;
    float: none;
  }
}
/* fonte: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */
/* fim do indice */

/* inicio do card com a foto */
/* Three columns side by side */
.column {
  float: left;
  width: 13.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* fonte https://www.w3schools.com/howto/howto_css_team.asp */

.origem{
  top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  position: absolute;
  left: 30%;
  right: 20%;
}
.habilidades{
  top: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  position: absolute;
  left: 30%;
  right: 20%;
}
.linksUteis{
  top: 46%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  position: absolute;
  left: 30%;
  right: 20%;
}