.box {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
}

/* Fundo do seletor obrigatório */
.black {
  background-color: black;
}

/* Quadrados do nosso quadro */
.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-left: -5px;
  margin-bottom: -5px;
  width: 40px;
}

/* Propriedades que quebram as linhas do nosso quadro */
.col {
  display: block;
  margin-top: -5px;
}

/* Espaçador para tirar o quadro de cima do botão VQV */
.space {
  margin-bottom: 10px;
}

.input-size {
  width: 130px;
  text-align: center;
  height: 30px;
}

.paleta-de-cor div{
  border-radius: 50px;
}

.paleta-de-cor {
  border: 8px red double;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  border-top: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.boardSize {
  margin: 10px;
  display: flex;
}

.boardSize button {
  height: 30px;
}

.pixel-board {
  overflow: hidden;
}