@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  }
@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  }
.speech  { 
font-family: SequentialistBB, cursive; 
font-size: 1vw; 
margin: 0;
}
blockquote.bubble { 
background-position: center;
background-repeat: no-repeat !important;
background-size: 100% 100%;
margin: 0 auto;
text-align: center;
height: 0;
box-sizing: content-box;
line-height: 1;
}
blockquote.speech {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg); 
width: 10%;
padding: 2%;
padding-bottom: 10%;
margin-left: 3vw;
display: inline-block;
}
blockquote.electric {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg); 
width: 15%;
height: 30%;
font-size: 1.2vw;
font-style: italic;
padding: 2% 6% 4% 2%;
margin-left: 1vw;
display: inline-block;
text-align: center;
}

section {
  display: flex;
  margin-bottom: -100px;
  justify-content: center;
  align-content: center;
}
section { 
  padding: 3rem; 
}

@media (max-width: 639px) {
  blockquote { 
    visibility: hidden;
  }
}

@media (min-width: 640px) and (max-width: 700px) {
  blockquote.electric {
    margin-left: -2vw;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  blockquote.electric {
    margin-left: 0vw;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  blockquote.electric {
    margin-left: 2vw;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  blockquote.electric {
    margin-left: 5vw;
  }
}

@media (min-width: 1001px) and (max-width: 1100px) {
  blockquote.electric {
    margin-left: 6vw;
  }
}

@media (min-width: 1101px) and (max-width: 1300px) {
  blockquote.electric {
    margin-left: 9vw;
  }
  blockquote.speech {
    margin-left: 2vw;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  blockquote.electric {
    margin-left: 12vw;
  }
  blockquote.speech {
    margin-left: 1vw;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  blockquote.electric {
    margin-left: 14vw;
  }
  blockquote.speech {
    margin-left: 0vw;
  }
}

@media (min-width: 1701px) and (max-width: 1980px) {
  blockquote.electric {
    margin-left: 16.3vw;
  }
  blockquote.speech {
    margin-left: -1vw;
  }
}