body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 2, 29) !important;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13)),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}
canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255,255,255,0.2);
  text-decoration: none;
}

a:hover {
  color: #fff;
}