#sobre {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 80%;
  background-color: aliceblue;
  border-radius: 18px;
  padding: 30px;
}
